<html>

<head>
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
   <form action = "login" method = "post">
       
     <label for="email">Email</label>
     <input type="email" name="email" placeholder="Email">
            
     <label for="pasword">password</label>
     <input type="pasword" name="pwd" placeholder="Passwort">
     
     <button type="reset">Eingabe zurücksetzen</button>
     <button type="submit">Eingabe absenden</button>
   </form>
   <p>Kein Konto ? <a href="registration">Neues Konto</a></p>
 </body>
 </html>