<html>
    <head>
        <title>registration</title>
    </head>
    <body>
        <form action= "registration" method = "POST">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
            
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email">
            
            <label for="pasword">password</label>
            <input type="pasword" name="pwd" id="pwd" placeholder="Passwort">
            
            <button type="reset">Eingabe zurücksetzen</button>
            <button type="submit">Eingabe absenden</button>
        </form>
        <p>Bereits registriet ? <a href="login">Login</a></p>
    </body>
</html>